.header{
  width: 100%;
  min-height: 5em;
  background: lightblue;
  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.header .h1{
  background: lightgrey;
}
.header .h1 .a{}
.header .nav{
  background: red;
}
.header .ul{}
.header .li{}
.header .li .a{}

footer{
  text-align: center;
  background-color: aquamarine;
}